body {
    text-align: center;
    background: rgb(66, 100, 114);

}

a {
    color: rgb(57, 143, 218);
    font-size: 18px;
    margin-right: 15px;
    display: inline-block;
}

footer {
    margin-top: 15px;
}